---
import Hero from "../components/Hero.astro";
import TopArticles from "../components/TopArticles.astro";
import LatestBlogs from "../components/RecentBlogs.astro";
import NewsletterCard from "../components/NewsletterCard.astro";
import FeaturedPost from "../components/FeaturedPost.astro";
import { getCollection } from "astro:content";
import HomeLayout from "../layouts/HomeLayout.astro";

const posts = await getCollection("posts");
const featuredPost = posts.find((post) => post.data.featuredPost === true);
---

<HomeLayout title="Home" description="Welcome to my blog">
  <div class="w-full">
    <Hero />
    <div class="px-5 xl:px-10">
      <LatestBlogs />
      <FeaturedPost featuredPost={featuredPost} />
      <TopArticles />
      <NewsletterCard />
    </div>
  </div>
</HomeLayout>
