---
import ThemeToggle from "../components/ThemeToggle.astro";

const { user } = Astro.locals;

const navigation = [
  { name: "Home", href: "/" },
  { name: "Articles", href: "/blog" },
  { name: "About", href: "/about" },
];

const pathname = new URL(Astro.request.url).pathname;
---

<header class="sticky top-0 z-50">
  <nav
    class="navbar bg-base-100/90 shadow-sm font-outfit backdrop-blur-lg justify-center items-center py-2 md:px-10 px-5"
  >
    <div class="navbar-start">
      <div class="dropdown">
        <button
          aria-label="button"
          tabindex="0"
          role="button"
          class="btn btn-ghost lg:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </button>
        <ul
          class="menu dropdown-content menu-md z-[1] mt-3 w-52 gap-2 rounded-box bg-base-100 p-2 shadow"
        >
          {
            navigation.map((item) => (
              <li>
                <a href={item.href}>{item.name}</a>
              </li>
            ))
          } 
        </ul>
      </div> { user ? (
        <a class="btn btn-ghost text-xl" href="/account"> Account</a>
      ):(
        <a class="btn btn-ghost text-xl" href="/login"> Login</a>
        <a class="btn btn-ghost text-xl" href="/signup"> Sign Up</a>
      )}
      <a class="btn btn-ghost text-xl" href="/"> Blog</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      {
        navigation.map((item) => (
          <nav class="menu menu-horizontal">
            <a
              href={item.href}
              class={`hover:text-primary hover:bg-primary/10 transition flex py-2 px-4 rounded-md ${pathname === item.href ? "text-primary bg-primary/10" : ""}`}
            >
              {item.name}
            </a>
          </nav>
        ))
      }
    </div>
    <div class="navbar-end">
      <ThemeToggle />
    </div>
  </nav>
</header>
